.listPage {
 padding-top: 15px;
 //background: #EEEEEE;

 background: url("../../img/background.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
}

.listPage img {
    width: auto;
    float: left;
    margin-right: 20px;
}

.listPage .more-button{

}
