.infoPage {
    background: url("../../img/background.png") no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
}

center{
    text-align: center;
}


.infoPage ion-card ion-card-content h6{
    float: right;
}

.infoPage h4{
    color: white;
}

.modal ion-list{
    margin-top: 6rem;
    padding-left: 16px;
    padding-right: 16px;
}

.modal{
    
}